Source: libxine-atmo-plugin
Section: libs
Priority: extra
Maintainer: Andreas Auras <yak54@gmx.net>
Build-Depends: debhelper (>= 7), libxine-dev, libusb-1.0-0-dev
Standards-Version: 3.8.3
Homepage: http://projects.vdr-developer.org/projects/show/xine-lib-atmolight

Package: libxine-atmo-plugin
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: xine post plugin needed for atmolight controllers
 The "atmo" post plugin analyze the video picture and generates
 output data for so called "atmolight" controllers.
